# logs
/logs

# environment vars
.env

# vendor and assets
node_modules
/vendor/*
/public/assets/*
/public/themes/*
!/public/assets/modified
/.docs/.out/*

# ccda service build
ccdaservice/node_modules

# dev editor configs
/.idea/*
/.vscode/*
/.vscode-oss/*
/nbproject/*
.DS_Store
.buildpath
.project
.settings

# testing
.phpunit.result.cache

# dev tool local overrides
phpcs.xml
phpstan.neon
coverage/js-unit

# phpstan
tmp-phpstan/*
sites/default/sqlconf.php
sites/default/config.php
sites/*/sqlconf.php
sites/default/documents/
sites/default/images/login_logo.gif
sites/default/images/logo_*.png

# custom mock/demo data
default/
